<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myautohomeportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myautohomeportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyAutoHomePortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyAutoHomePortal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DeviceMgmtEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=aryabhatta.database.windows.net;Initial Catalog=DeviceManagement;Persist Security Info=True;User ID=kewalsarode;Password=Rtminds@2013;Application Name=EntityFramework" Name="Data Source=aryabhatta.database.windows.net;Initial Catalog=DeviceManagement;Persist Security Info=True;User ID=kewalsarode;Password=Rtminds@2013;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DeviceManagemetPortal.DeviceMgmtEntities, DeviceManagemetPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DeviceManagementEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=aryabhatta.database.windows.net;Initial Catalog=DeviceManagement;Persist Security Info=True;User ID=kewalsarode;Password=Rtminds@2013;Application Name=EntityFramework" Name="Data Source=aryabhatta.database.windows.net;Initial Catalog=DeviceManagement;Persist Security Info=True;User ID=kewalsarode;Password=Rtminds@2013;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=aryabhatta.database.windows.net;Initial Catalog=DeviceManagement;Persist Security Info=True;User ID=kewalsarode;Password=Rtminds@2013;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeviceManagementEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DeviceManagement.csdl|res://*/DeviceManagement.ssdl|res://*/DeviceManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aryabhatta.database.windows.net;initial catalog=DeviceManagement;persist security info=True;user id=kewalsarode;password=Rtminds@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DeviceManagementEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DeviceManagement.csdl|res://*/DeviceManagement.ssdl|res://*/DeviceManagement.msl;provider=System.Data.SqlClient;provider connection string="data source=aryabhatta.database.windows.net;initial catalog=DeviceManagement;persist security info=True;user id=kewalsarode;password=Rtminds@2013;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DeviceMgmtEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DeviceManagement.csdl|res://*/DeviceManagement.ssdl|res://*/DeviceManagement.msl;provider=System.Data.SqlClient;provider connection string="Data Source=aryabhatta.database.windows.net;Initial Catalog=DeviceManagement;Persist Security Info=True;User ID=kewalsarode;Password=Rtminds@2013;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>